*{
    margin: 0;
    padding: 0;
}
body{
    background: url("employee-turnover.png");
    background-size: 100%;
}
div.login{
    width: 500px;
    margin-left: 34%;
    margin-top: 10px;

}

h1{
   text-align: center;
    padding: 14px;
    font-family: sans-serif;
   color: midnightblue;
    font-size: xxx-large;
    opacity: 100%;
}
div.main{
    background-color: darkgray;
    width: 100%;
    border-radius: 10px;
    border: 1px solid lavenderblush;
    opacity: 90%;
    margin-top: 10%;
     color: black;
    font-size: large;

}
div.ex1 {
  width: 500px;
  height: 500px;
  overflow: scroll;
}

form#main{
    margin: 80px;
    margin-top: 30px;
    margin-bottom: 10%;
}

input#nam{
    width: 300px;
    border: 1px lawngreen;
    background-color: #fff;
    padding: 7px;

}
select.input100 {
    width: 250px;
    border: 1px lawngreen;
    background-color: #fff;
    padding: 7px;
}

h2{

    text-align: center;
    padding: 14px;
    font-family: sans-serif;
   color: crimson;
    font-size: xx-large;
    opacity: 100%;
}
button{
    width: 100px;
    border: 1px lawngreen;
    background-color: #fff;
    padding: 7px;
    align-content: center;
}