<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
<div class="login">
 <div class="main" >

	<h1>Predict Turnover</h1>
    <div class="ex1">
     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}" id="main" method="post">
        <label>Select classifier</label>
        <br>
        <select  class="input100"  name="classifier"  >
							<option value="0">KNN</option>
							<option value="1">XGboost</option>
                            <option value="2">Gradient Boosting</option>

			</select><br><br>
        <label> Satisfaction level</label>
        <br>
    	<input type="number" id="nam" name="satisfaction_level" placeholder="satisfaction level (0 to 100)" required="required" /><br><br>
        <label>Last evaluation</label>
        <br>
        <input type="number" id="nam" name="last_evaluation"  placeholder="last evaluation (0 to 100)" required="required" /><br><br>
		<label>Number of project(s)</label>
        <br>
        <input type="number" id="nam" name="number_project"  placeholder="number of project" required="required" /><br><br>
        <Work_accidentlabel>Average montly hours</Work_accidentlabel>
        <br>
        <input type="number" id="nam" name="average_montly_hours"  placeholder="average montly hours" required="required" /><br><br>
        <label>Time spend company</label>
        <br>
        <input type="number" id="nam" name="time_spend_company"  placeholder="time spend company" required="required" /><br><br>
        <label>Work accident</label>
        <br><input type="number" id="nam" name="Work_accident"  placeholder="Work accident" required="required" /><br><br>
        <label>Promotion last 5years</label>
        <br><input type="number" id="nam" name="promotion_last_5years"  placeholder="promotion last 5years " required="required" /><br>
        <br><div class="wrap-input100" style="border-bottom: 0px;" >
					<span class="label-input100">sales</span><br>
        <select  class="input100" name="sales"  >
							<option value="">Select department</option>
							<option value="0">sales</option>
							<option value="1">accounting</option>
							<option value="2">hr</option>
							<option value="3">technical</option>
							<option value="4">Support</option>
                            <option value="5">Management</option>
                            <option value="6">IT</option>
                            <option value="7">Product_mng</option>
                            <option value="8">marketing</option>
                            <option value="9">RandD</option>
						</select>
            <span class="focus-input100"></span>
				</div><br>
        <div class="wrap-input100"  style="border-bottom: 0px;" >
					<span class="label-input100">salary</span><br>
<select  class="input100" name="salary"  >
							<option value="">Select salary </option>
							<option value="0">low</option>
							<option value="1">medium</option>
							<option value="2">high</option>
			</select>
            <span class="focus-input100"></span>
				</div><br>
        <br><button type="submit" name="btn">Predict</button>

     </form>
   <br>
    </div>
     </div>
   <h2>{{ prediction_text }}</h2>


</div>


</body>
</html>
